.venue{
	/*max-width: 1440px;*/
}

.venue > .row{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;

	& > div.nm{
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.row.venue-info{
	max-width: 1142px;
	margin: 101px auto 101px auto;
}
