.nearby-venues{
	max-width: 1142px;
	margin: 0 auto !important;

	h2{
		padding-left: 15px;
		font-family: Montserrat-SemiBold;
		font-size: 25px;
		color: #272727;
		letter-spacing: 0;
		line-height: 30px;
		margin: 40px 0 40px 0 !important;
	}
}
