

.facilities{
	background: white;
	padding-top: 40px;
	height: 100%;

	h1 {
		 font-family: 'montserrat-semibold';
		 font-size: 25px;
		 color: #222222;
		 margin-top: 40px;
	}

	h2 {
		font-family: 'montserrat-regular';
		font-size: 23px;
		color: #222222;
		letter-spacing: 0;
	}

	p {
		font-family: 'montserrat-light';
		font-size: 19px;
		color: #4A4A4A;
	}

	hr {
		border: none;
		height: 1px;
		background: #C7C7C7;
		width: 95%;
	}
}
