

.facilities{
	h1 {
		 font-family: 'montserrat-semibold';
		 font-size: 25px;
		 color: #222222;
	}

	h2 {
		font-family: 'montserrat-regular';
		font-size: 23px;
		color: #222222;
		letter-spacing: 0;
	}

	p {
		font-family: 'montserrat-light';
		font-size: 19px;
		color: #4A4A4A;
	}

	hr {
		border: 1px solid #C7C7C7;
	}
}
