.venue-filters-wrapper{
	position: relative;
	top: -90px;
	margin: 0 13px;
}

.venue-filters {
	position: relative;
	background: rgba(27,27,27,.8);
	color: #FFF;
	z-index: 2;
	padding: 11px 30px;

	h1.name{
		font-family: Montserrat-Bold;
		margin: 0 0 2px 0;
		letter-spacing: 0;
		line-height: 110%;
		font-size: 24px;
	}

	.place{
		padding: 0;
		margin: 0;
		font-family: Montserrat-Light;
		font-size: 13px;
		color: #FFF;
	}

	.filter-form{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		height: 100%;

		input, div{
			height: 45px;
			width: 100%;
			margin-left: 40px;
		}
	}
}
