.room-info {
	h1 {
		font-family: "montserrat-bold";
		font-size: 24px;
		color: #4A4A4A;
		margin-bottom: 0;
	}
	h2 {
		font-family: 'montserrat-light';
		font-size: 20px;
		color: #4A4A4A;
		margin-top: 28px !important;

	}
	h5 {
		font-family: 'montserrat-regular';
		font-size: 14px;
		color: #4A4A4A;
		margin: 12px 0 0;
	}
	h6 {
		font-family: 'Montserrat';
		font-weight: 200;
		font-size: 13px;
		color: #4A4A4A;
		margin-bottom: 0;
	}
	li {
		display: inline-block;
		margin-right: 30px;
		font-family: 'Montserrat';
		font-weight: 200;
		font-size: 14px;
		color: #4A4A4A;
		margin-bottom: 10px;
	}
	hr {
		border: none;
		height: 1px;
		background: #C7C7C7;
		margin-bottom: 14px;
	}

}
.tech-list {

}
.facility-icon {
	background-position: center;
	background-size: 100%;
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
}

.projector {
	stroke: black;
	height: 12px;
	width: auto;
	fill: none;
	margin-right: 5px;
	.cls-3 {
		fill: white;
	}
}
