.venue-description{
	h2{
		font-family: Montserrat-SemiBold;
		font-size: 25px;
		color: #222222;
		letter-spacing: 0;
		line-height: 20px;
		text-transform: uppercase;
	}

	p{
		font-family: Montserrat-Light;
		font-size: 13px;
		color: #282828;
		letter-spacing: 0;
		line-height: 20px;
	}
}
