
.venue-image {
	position: relative;
	min-height: 250px;
	width: 100%;
  height: 100%;
}

.venue-image .venue-image_image{
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
}
