.room-select {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;

	&.row > div{
		margin: 0;
		padding: 0;
	}

	.price{
		color: #40B436;
		font-size: 30px;
		text-align: center;
		width: 100%;
	}

	.booking-button{
		width: 100%;
		text-transform:uppercase;
		padding: 16px 0;
	}
}

.room-select_dropdown{
	height: auto !important;

	button{
		width: 100%;
	}

	small{
		color: #9B9B9B;
		margin: 0 16px 0 13px;
	}
}
